<!doctype html>
$if(needsMathJax)$
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
$endif$
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stephan Schiffels - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <h1>
                <a href="/">Stephan Schiffels</a>
            </h1>
            <h2>
                Population Genetics – Computational Methods - Human History
            </h2>
            <nav>
                <a href="/" $if(menu_Home)$ class="menu_active"$endif$>Home</a>
                <a href="/research.html"$if(menu_Research)$ class="menu_active"$endif$>Research</a>
                <a href="/group.html"$if(menu_Group)$ class="menu_active"$endif$>Group</a>
                <a href="/publications.html"$if(menu_Publications)$ class="menu_active"$endif$>Publications</a>
                <a href="/talks.html"$if(menu_Talks)$ class="menu_active"$endif$>Talks</a>
                <a href="/resources.html"$if(menu_Resources)$ class="menu_active"$endif$>Resources</a>
                <a href="/contact.html"$if(menu_Contact)$ class="menu_active"$endif$>Contact</a>
                <a href="/blog.html"$if(menu_Blog)$ class="menu_active"$endif$>Blog</a>
            </nav>
        </header>

        <main>
            <h1>$title$</h1>
            $body$
        </main>
        <aside>
            <h2>News</h2>
            <ul>
                $for(sidebarItems)$
                    <li>
                        $if(image)$
                            <img src="$image$">
                        $endif$
                        $if(pub)$
                            <b><i><u>New Publication:</u> </i></b>
                            <a href="/publications.html#$itemName$">
                                <b>$title$</b>
                            </a> by $author$. <i>$journal$</i>. Published $date$
                        $endif$
                        $if(post)$
                            $if(isBlogPost)$
                                <b><i><u>New Blog Post:</u> </i></b>
                                <a href="$post_url$">    
                                    <b>$title$</b>
                                </a>
                            $else$
                                <b><i><u>Announcement:</u> </i></b>
                                $if(link)$
                                    <a href="$link$">$title$</a>
                                $else$
                                    <a href="$post_url$">$title$</a>
                                $endif$
                            $endif$
                            - $date$
                        $endif$
                    </li>
                $endfor$
            </ul>
        </aside>

        <footer>
            Powered by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a> and custom CSS. Sourcecode available on
            <a href="https://github.com/stschiff/homepage">github</a>.
        </footer>
    </body>
</html>
