<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Hakyll Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div id="logo">
                <h1><a href="/">Stephan Schiffels</a></h1>
                <div id="subtitle">Population Genetics – Computational Methods - Human History</div>
            </div>
            <nav>
                <a href="/" $if(menu_Home)$ class="menu_active"$endif$>Home</a>
                <a href="/group.html"$if(menu_Group)$ class="menu_active"$endif$>Group</a>
                <a href="/publications.html"$if(menu_Publications)$ class="menu_active"$endif$>Publications</a>
                <a href="/talks.html"$if(menu_Talks)$ class="menu_active"$endif$>Talks</a>
                <a href="/resources.html"$if(menu_Resources)$ class="menu_active"$endif$>Resources</a>
                <a href="/contact.html"$if(menu_Contact)$ class="menu_active"$endif$>Contact</a>
                <a href="/blog.html"$if(menu_Blog)$ class="menu_active"$endif$>Blog</a>
            </nav>
        </header>

        <main>
            <h1>$title$</h1>
            $body$
        </main>
        <aside>
            <h2>News</h2>
            $for(sidebarItems)$
                <p>
                    $if(image)$
                        <img src="$image$">
                    $endif$
                    $if(pub)$
                        <a href="/publications.html#$itemName$"><b><i>New Publication: </i></b>
                        <b>$title$</b></a> by $author$. <i>$journal$</i>. Published $date$
                    $endif$
                    $if(post)$
                        <a href="$url$"><b><i>New Blog Post: </i></b>$title$</a> - $date$
                    $endif$
                </p>
            $endfor$
        </aside>

        <footer>
            Powered by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a> and custom CSS. Sourcecode available on
            <a href="https://github.com/stschiff/homepage">github</a>.
        </footer>
    </body>
</html>
