<p>
    Many Blog posts also appear on my <a href="https://medium.com/stephan-schiffels">Medium Blog</a>
</p>

$for(posts)$
    <li class="columns">
        <div class="column">
            <b><a href="/$url$">$title$</a></b><br>$date$
            $if(teaser)$<p>$teaser$ ... <a href="/$url$">Read more</a></p>
            $else$<p>$content_body$</p>$endif$
        </div>
        $if(image)$
            <div class="column is-one-quarter">
                <img src="$image$">
            </div>
        $endif$
    </li>
    <hr />
$endfor$
        