<p>
    Note: All my publications can also be found on <a href="https://scholar.google.de/citations?user=6FZPsI4AAAAJ&hl=de">Google Scholar</a>
</p>

$for(publications)$
<div class="columns">
    <div class="column is-one-third">
        $if(image)$<a href="/$internal_url$"><img src="$image$"></a>$endif$
    </div>
    <div class="column">
        $if(role_lead)$
            <span class="tag is-success">Lead</span>
        $endif$
        $if(role_major)$
            <span class="tag is-warning">Major</span>
        $endif$
        $if(role_highlight)$
            <span class="tag is-danger">Highlight</span>
        $endif$
        <a href="/$internal_url$"><b>$title$</b>.</a> <i>$source$</i>. Published $published$.
        <p>Authors: $authors("condensed")$</p>
        <p>
            <a href="$url$">[Website]</a>
            $if(pdf)$<a href="$pdf$">[PDF]</a>$endif$
            <a href="/$internal_url$">[Details]</a>
        </p>
    </div>
</div>
<hr />
$endfor$
