<p>
    Note: All my publications can also be found on <a href="https://scholar.google.de/citations?user=6FZPsI4AAAAJ&hl=de">Google Scholar</a>
</p>

$for(publications)$
<div class="columns">
    <div class="column is-one-third">
        $if(image)$<a href="$url$"><img src="$image$"></a>$endif$
    </div>
    <div class="column">
        <a href="$url$"><b>$title$</b>.</a> <i>$source$</i>. Published $published$.
        <p>Authors: $authors("full")$</p>
        <p>
            <a href="$ext_url$">[Website]</a>
            $if(pdf)$<a href="$pdf$">[PDF]</a>$endif$
            <a href="$url$">[Details]</a>
        </p>
    </div>
</div>
$endfor$
