<p>
    Note: All my publications can also be found on <a href="https://scholar.google.de/citations?user=6FZPsI4AAAAJ&hl=de">Google Scholar</a>
</p>

<p>
    <a href="/publications.html">Show all publications</a>
</p>
    
$for(pubs)$
    $if(selected)$
        <div id="$itemName$" class="publication_list_item">
            $if(image)$
                <img src="$image$">
            $endif$
            <p><b><a href="$url$">$title$</a></b> by $author$. <i>$journal$</i>. Published $date$.</p>
            $body$
        </div>
    $endif$
$endfor$

