<aside class="section">
    <h2 class="title is-3">News</h2>
    <ul>
        $for(sidebarItems)$
            <li class="columns">
                <div class="column is-two-third">
                    $if(is_pub)$
                        <u>$published$</u><br />
                        <span class="tag is-success">New Publication</span><br />
                        <a href="/pubs/$citekey$.html">
                            <b>$title$</b>
                        </a> by $authors("short")$. <i>$source$</i>.
                    $endif$
                    $if(is_post)$
                        <u>$date$</u><br />
                        $if(isBlogPost)$
                            <span class="tag is-info">New Blog Post</span><br />
                            <a href="$url$">    
                                <b>$title$</b>
                            </a>
                        $else$
                            <span class="tag is-warning">New Announcement</span><br />
                            $if(link)$
                                <a href="$link$">$title$</a>
                            $else$
                                <a href="$url$">$title$</a>
                            $endif$
                        $endif$
                    $endif$
                </div>
                <div class="column">
                    $if(image)$
                        <img src="$image$">
                    $endif$
                </div>
            </li>
        $endfor$
    </ul>
</aside>