<aside class="section">
    <h2 class="title is-3">News</h2>
    <ul>
        $for(sidebarItems)$
            <li class="column box my-4">
                $if(is_pub)$
                    <u>$published$</u><br />
                    $if(image)$
                        <img src="/$image$">
                    $endif$
                    <span class="tag is-success">New Publication</span><br />
                    <a href="/$internal_url$">
                    <b>$title$</b>
                    </a> by $authors("short")$. <i>$source$</i>.
                $endif$
                $if(is_post)$
                    <u>$date$</u><br />
                    $if(image)$
                        <img src="$image$">
                    $endif$
                    <span class="tag is-info">New Post</span><br />
                    <a href="/$url$">    
                        <b>$title$</b>
                    </a>
                $endif$
            </li>
        $endfor$
    </ul>
</aside>